:root {
  --purple: #a306b6;
  --white: white;
  --black: black;
  --coment: green;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* HEADER */
h1 {
  color: var(--white);
  text-align: center;
  font-size: 3em;
  padding-top: 30px;
  height: 234px;
  background-image: url("assets/Antho.jpg");
  display: none;
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 15px 0 0;
  color: var(--white);
  padding-left: 16px;
  font-size: 2em;
}

h3 {
  color: var(--black);
  font-weight: bold;
}

/* a trier */
nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--purple);
  justify-content: space-evenly;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  display: inline-block;
  color: var(--white);
  font-weight: bold;
  padding: 1rem;
}

li a:hover {
  display: block;
  text-decoration: none;
  background-color: var(--white);
  color: var(--purple);
}
/* NAVBAR */

.menu {
  display: inline-block;
}
menu:hover {
  color: var(--white);
}

.menu > li {
  float: left;
  color: var(--white);
  width: 140px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 17px;
}
.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  color: var(--purple);
}
.sub-menu li {
  font-size: 14px;
  background: var(--purple);
  padding: 10px 10px;
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.sub-menu li:last-child {
  border-bottom: 0;
}
.sub-menu li:hover {
  background: var(--white);
  color: var(--purple);
}
.menu > li:hover .sub-menu li {
  transform: scale(1);
}
.menu > li:hover .sub-menu {
  transform: scale(1);
}

/* MAIN */

.coment {
  color: var(--coment);
  font-weight: normal;
}
main {
  margin: 0 25%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.articles article {
  box-shadow: 0px 0px 15px 1px #00000024;
  width: 47%;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-weight: bold;
  padding-left: 5px;
}

.oceane {
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  background-image: url("assets/Background.png");
}

/*FOOTER*/
footer {
  padding: 20px 0;
  color: var(--white);
  background-color: var(--purple);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
